{% extends "base.html"%}

{%block contenido%}
<div class="container">

    {% if messages %}

    {% for message in messages %}
    <div class="container">
        <div class="alert alert-danger" role="alert" style="margin-top: 30px;">
            {{ message }}
        </div>
    </div>
    
    {% endfor %}

    {% endif %}

    {% for tarea in tareas %}
    <div class="card mb-3">
        <div class="card-body">

            <div class="row">
                <div class="col-md-4">
                    <h5 class="card-title">{{ tarea.nombre }}</h5>
                    <p class="card-text">{{ tarea.descripcion }}</p>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6">
                            <form action="{% url 'eliminartarea' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ tarea.id }}">
                                <input type="hidden" name="atrasada" value="0">
                                <input type="submit" value="Eliminar" class="btn btn-danger">
                            </form>
                        </div>
                        <div class="col-md-6">
                            <form action="{% url 'actualizar' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ tarea.id }}">
                                <input type="submit" value="Actualizar" class="btn btn-warning">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <p class="card-text" style="text-align: center; font-size: medium;"><medium class="text-muted" style=" vertical-align: middle;">{{ tarea.fecha }}</medium></p>
                </div>
            </div>

        </div>

    </div>
    {% endfor %}
</div>


{%endblock%}