{%extends 'base.html'%}



{%block contenido %}
<div class="container-fluid">

    {% if fechas %}
    <div class="row">
        <div class="col-12">

            <h4 class="text-center"> Resultados para: {{fecha}}</h4>
        </div>
    </div>
    <div class="container">

        {% for f in fechas %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ f.nombre }}</h5>
                <p class="card-text">{{ f.descripcion }}</p>
                <p class="card-text"><small class="text-muted">{{ f.fecha }}</small></p>
            </div>
        </div>
        {% endfor %}

    {% endif %}

        {% if not fechas %}
        {% for message in messages %}
        <div class="container">
            <div class="alert alert-danger" role="alert" style="margin-top: 30px;">
                {{ message }}
            </div>
        </div>

        {% endfor %}
        {% endif %}

    </div>
</div>
{%endblock%}